/.venv
/.envrc
__pycache__

# OpenCode
.opencode/

# Terraform
terraform/**/.terraform/
terraform/**/.terraform.lock.hcl
terraform/**/terraform.tfstate
terraform/**/terraform.tfstate.backup
terraform/**/*.tfplan
