/.venv
/.sops.agekey
*.agekey
/.envrc
__pycache__

# Terraform
terraform/**/.terraform/
terraform/**/.terraform.lock.hcl
terraform/**/terraform.tfstate
terraform/**/terraform.tfstate.backup
terraform/**/*.tfplan
