[defaults]
inventory = ansible/inventory/hosts.yml
roles_path = ansible/roles
collections_path = .ansible/collections
localhost_warning = False
interpreter_python = auto_silent

[inventory]
enable_plugins = yaml
