[Unit]
Description=Hass Container
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull ghcr.io/home-assistant/home-assistant:stable
ExecStart=/usr/bin/docker run --rm --name %n --hostname={{ ansible_hostname }} \
  --network=host \
  --privileged \
  --restart=no \
  -e TZ={{ timezone }} \
  -v "/srv/volumes/hass:/config" \
  ghcr.io/home-assistant/home-assistant:stable

[Install]
WantedBy=multi-user.target
