timezone: {{ timezone }}
github_user: {{ github_user }}
private_domain: {{ private_domain }}
media_share_mount: {{ media_share_mount }}
minio_access_key_id: {{ minio_access_key_id }}
minio_secret_access_key: {{ minio_secret_access_key }}
restic_repo_pass: {{ restic_repo_pass }}
restic_repo: {{ restic_repo }}
