timezone: {{ timezone }}
restic_repo_mount: {{ restic_repo_mount }}
restic_repo_dir: {{ restic_repo_dir }}
restic_repo_pass: {{ restic_repo_pass }}
media_share_mount: {{ media_share_mount }}
private_domain: {{ private_domain }}
lan_cidr: {{ lan_cidr }}
ssh_public_key: {{ ssh_public_key }}
dns_key_secret: {{ dns_key_secret }}
dns_server_ip: {{ dns_server_ip }}
