timezone: {{ timezone }}
github_user: {{ github_user }}
private_domain: {{ private_domain }}
media_share_mount: {{ media_share_mount }}
restic_repo_pass: {{ restic_repo_pass }}
restic_repo: {{ restic_repo }}
