apiVersion: v1
stringData:
    tunnel.json: |
        {
          "AccountTag": "{{ cloudflare_account_id }}",
          "TunnelSecret": "{{ cloudflare_tunnel_secret }}",
          "TunnelID": "{{ cloudflare_tunnel_id }}",
          "TunnelName": "{{ cloudflare_tunnel_name }}"
        }
    config.yaml: |
        logDirectory: /var/log/cloudflared
        tunnel: {{ cloudflare_tunnel_id }}
        credentials-file: /etc/cloudflared/tunnel.json
        warp-routing:
          enabled: true
        originRequest:
          noHappyEyeballs: true
        ingress:
{% for app in apps %}
          - hostname: {{ app.name }}.{{ public_domain }}
            service: {{ app.url }}
{% if app.url.startswith('https:') %}
            originRequest:
              noTLSVerify: true
{% endif %}
{% endfor %}
          - service: http_status:404
kind: Secret
metadata:
    name: cloudflared-secret
type: Opaque
