apiVersion: v1
stringData:
    SECRET_PRIVATE_DOMAIN: {{ private_domain }}
    SECRET_PUBLIC_DOMAIN: {{ public_domain }}
    SECRET_TIMEZONE: {{ timezone }}
kind: Secret
metadata:
    annotations:
        reflector.v1.k8s.emberstack.com/reflection-allowed: "true"
        reflector.v1.k8s.emberstack.com/reflection-allowed-namespaces: kube-system,infra-system
        reflector.v1.k8s.emberstack.com/reflection-auto-enabled: "true"
        reflector.v1.k8s.emberstack.com/reflection-auto-namespaces: kube-system,infra-system
    name: cluster-secrets
type: Opaque
