export GITHUB_USER="{{ github_user }}"
export GITHUB_REPO="{{ github_repo }}"
export GITHUB_TOKEN="{{ github_token }}"
export KUB_SERVER_IP="{{ kub_server_ip }}"
export KUB_SERVER_USER="{{ kub_server_user }}"
