public_domain: {{ public_domain }}
private_domain: {{ private_domain }}
email: {{ email }}
homepage: {{ homepage }}
lan_cidr: {{ lan_cidr }}
lan_prefix: {{ lan_prefix }}
dns_key_secret: {{ dns_key_secret }}
dns_server_ip: {{ dns_server_ip }}
ssh_private_key: {{ ssh_private_key | to_yaml }}
cloudflare_api_key: {{ cloudflare_api_key }}
cloudflare_account_id: {{ cloudflare_account_id }}
cloudflare_tunnel_name: {{ cloudflare_tunnel_name }}
cloudflare_tunnel_secret: {{ cloudflare_tunnel_secret }}
cloudflare_apps:
{% for app in cloudflare_apps %}
    - name: {{ app.name }}
      require_auth: {{ app.auth if app.auth is defined else true }}
{% endfor %}
cloudflare_auth_groups: {{ cloudflare_auth_groups }}
local_hosts:
{% for host in local_hosts %}
    - name: {{ host.name }}
      ip: {{ host.ip }}
      ptr: {{ host.ptr if host.ptr is defined else true }}
      mac: {{ host.mac if host.mac is defined else false }}
{% endfor %}
