[defaults]
inventory = ./hosts
interpreter_python = auto_silent
vars_plugins_enabled = host_group_vars,community.sops.sops
forks = 25

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=3600s -o PreferredAuthentications=publickey
