version: "3"

services:
  plex:
    container_name: plex
    hostname: "{{ ansible_hostname }}"
    image: lscr.io/linuxserver/plex:latest
    environment:
      - TZ={{ timezone }}
      - PUID=1000
      - PGID=1000
      - UMASK=022
      - VERSION=docker
    volumes:
      - /srv/docker/plex:/config
      - /mnt/media:/media
    restart: unless-stopped
    privileged: true
    network_mode: host

  watchtower:
    image: containrrr/watchtower:latest
    environment:
      - TZ={{ timezone }}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
