[Unit]
Description=Plex Container
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull lscr.io/linuxserver/plex:latest
ExecStart=/usr/bin/docker run --rm --name %n --hostname={{ ansible_hostname }} \
  --network=host \
  --privileged \
  --restart=no \
  -e TZ={{ timezone }} \
  -e PUID=1000 \
  -e PGID=1000 \
  -e UMASK=022 \
  -e VERSION=docker \
  -v "/srv/volumes/plex:/config" \
  -v "/mnt/media:/media" \
  lscr.io/linuxserver/plex:latest

[Install]
WantedBy=multi-user.target
